<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Query result</title>
		<link rel="stylesheet" href="/styles/styles.css" />
	</head>
	<body>
		<main>
			<h2>Book data</h2>
			<p>Book ID: <%= result.id %></p>
			<p>Name: <%= result.name %></p>
			<p>Author: <%= result.author %></p>
			<p>Genre: <%= result.genre %></p>
			<p>Published: <%= result.year %></p>
			<a href="/"><button>Menu</button></a>
		</main>
	</body>
</html>
